# 1. Bỏ qua toàn bộ thư mục build sinh ra từ CMake
build/
out/
bin/

# 2. Bỏ qua các file thực thi và file tạm
*.exe
*.obj
*.o
*.pdb
*.ilk

# 3. Bỏ qua cấu hình cá nhân của VS Code
.vscode/
*.code-workspace